@use "global" as *;

.aboutus__space {
  margin-top: rem(80);
  // padding-bottom: rem(70);
  @include mq("md") {
    margin-top: rem(140);
    // padding-bottom: rem(95);
  }
}

.aboutus__body {
  position: relative;
  margin-top: rem(28);
  @include mq("md") {
    margin-top: rem(40);
  }
}

.aboutus__inner {
  width: 100%;
  max-width: rem(600);
  padding: 0 rem(15);
  margin: auto;
  text-align: center;
  justify-content: center;
  position: relative;
}

.aboutus__image {
  position: relative;
  margin: auto;
  text-align: center;
  aspect-ratio: 1080 / 661;
}

.aboutus__mainimage {
  position: relative;
  aspect-ratio: 128 / 194;
  width: 37.10144%;
  z-index: 2;
}

.aboutus__mainimage img {
  aspect-ratio: 400 / 606;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.aboutus__subimage {
  position: absolute;
  right: 0;
  bottom: 0;
  aspect-ratio: 281 / 186;
  width: 81.4492%;
}

.aboutus__subimage img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.aboutus__text {
  margin-top: rem(42);
  text-align: left;
  @include mq("md") {
    margin-top: 0;
  }
}

.aboutus__text-header {
  width: 100%;
  @include mq("md") {
    width: 51%;
  }
}

.aboutus__text-headertitle {
  font-family: $english-family;
  font-size: rem(40);
  letter-spacing: 0.001em;
  line-height: 1;
  color: $blue;
  font-weight: 300;
  @include mq("md") {
    font-size: rem(80);
    line-height: calc(100 / 80);
    color: #fff;
    width: 100%;
  }
}

.aboutus__text-footer {
  @include mq("md") {
    width: 47.6190476%;
  }
}

.aboutus__text-body {
  font-size: rem(16);
  font-weight: 300;
  letter-spacing: 0.005em;
  line-height: calc(24 / 16);
  margin-top: rem(16);
  @include mq("md") {
    color: #fff;
    margin-top: 0;
  }
}

.aboutus__text {
  @include mq("md") {
    display: flex;

    width: rem(860);
    position: absolute;
    top: 49%;
    left: 50.5%;
    transform: translate(-40%, -50%);
    z-index: 3;
  }
}

.aboutus__inner::after {
  @include mq("md") {
    background: url(../images/common/aboutus-back.png) no-repeat top / contain;
    bottom: -5.5625rem;
    content: "";
    display: block;
    height: 11.3125rem;
    position: absolute;
    right: calc(50% - min(48.4vw, 39.625rem));
    width: 12.125rem;
    z-index: 4;
  }
}

.aboutus__button {
  text-align: center;
  margin-top: rem(50);
  @include mq("md") {
    margin-top: rem(38);
    margin-right: rem(8);
  }
}
