@use "global" as *;

.blog {
  padding-top: rem(83);
  @include mq("md") {
    padding-top: rem(100);
    background-image: url(../images/common/blog.png);
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: 100% 60%;
    z-index: -1;
  }
}

.blog__inner {
  @include mq("md") {
    max-width: rem(600);
    position: relative;
  }
}

.blog__inner::before {
  @include mq("md") {
    background: url(../images/common/blog-back2.png) no-repeat top / contain;
    content: "";
    display: block;
    top: -3.75rem;
    height: 15.125rem;
    position: absolute;
    left: calc(50% - min(48.4vw, 38.625rem));
    width: 26.7rem;
    z-index: 4;
  }
}

.blog__items {
  margin-top: rem(30);

  @include mq("md") {
    margin-top: rem(80);
  }
}

.blog__button {
  margin-top: rem(40);
  text-align: center;
  @include mq("md") {
    margin-top: rem(80);
  }
}
