@use "global" as *;

.campaign {
  margin-top: rem(120);
}
.campaign__items {
  margin-top: rem(24);
}

.campaign-card {
  box-shadow: 2px 2px 4px gray;
}

.campaign-card__img {
  position: relative;
}

.campaign-card__img::before {
  content: "";
  display: block;
  padding-top: 67.142857%;
}

.campaign-card__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.campaign-card__body {
  padding: rem(16) rem(16) rem(24);
  box-shadow: 2px 2px 4px #d9d9d9;
}

.campaign-card__category {
  display: inline-block;
  line-height: calc(22 / 12);
  font-size: rem(12);
  color: $blue;
  border: 1px solid $blue;
  padding: rem(4) rem(12);
}

.campaign-card__title {
  font-size: rem(16);
  font-weight: $bold;
  line-height: calc(24 / 16);
  margin-top: rem(4);
  padding-bottom: rem(8);
  border-bottom: 1px solid $blue;
  color: $black;
}

.campaign-card__footer {
  margin-top: rem(8);
}

.campaign-card__text {
  text-align: center;
  font-size: rem(14);
  line-height: calc(24 / 14);
  color: $black;
}

.campaign-card__price {
  margin-top: rem(8);
  text-align: center;
}

.campaign-card__price--before {
  color: $black;
  font-weight: bold;
  text-decoration: line-through 3px solid #c94800;
  font-family: "Lato", sans-serif;
}

.campaign-card__price--after {
  font-family: "Lato", sans-serif;
  font-size: rem(40);
  line-height: 1;
  font-weight: $bold;
  color: $blue;
  margin-left: rem(24);
}

.campaign__button {
  text-align: center;
  margin-top: rem(40);
}
