@use "global" as *;

.footer {
  background-color: #408f95;
  color: #fff;
  margin: auto;
  padding-top: rem(48);
  padding-bottom: rem(56);
  @include mq("md") {
    padding-top: rem(80);
    padding-bottom: rem(80);
  }
}

.footer__inner {
  padding: 0 rem(16);
  @include mq("md") {
    padding: 0 rem(25);
  }
}

.footer__header {
  padding-bottom: rem(40);
  @include mq("md") {
    display: flex;
    padding-bottom: 0;
  }
}

.footer__logo {
  width: rem(120);

  @include mq("md") {
    width: rem(200);
  }
}

.footer__icon {
  display: flex;
  margin-top: rem(16);
  @include mq("md") {
    margin-left: rem(40);
    margin-top: rem(38);
  }
}

.footer__icon-link {
  width: rem(24);
  margin-right: rem(14);
  @include mq("md") {
    margin-right: rem(25);
  }
}

.footer__icon-link:hover {
  opacity: 0.7;
}

.footer__items {
  margin-top: rem(36);
}
.footer__items-no {
  margin-top: 0;
}

.footer__items-right {
  margin-top: rem(16);
}

.footer__item-top {
  position: relative;
  padding-left: 20px;
  font-weight: $bold;
  font-family: $base-font-family;
  letter-spacing: 0.05em;
  line-height: calc(18 / 16);
  margin-bottom: rem(28);
}

.footer__item-top:hover {
  opacity: 0.5;
}

.footer__item-top::before {
  content: "";
  position: absolute;
  top: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: rem(16);
  left: 0px;
  transform: translateY(-50%);
  width: 1em;
  height: 1em;
  background-image: url(../images/common/starfish.png);
}

.footer__item {
  margin-bottom: rem(24);
  margin-left: rem(22);
  font-weight: 300;
  font-size: rem(16);
  line-height: calc(18 / 16);
}

.footer__item:hover {
  opacity: 0.5;
}

.footer__item-last {
  padding-bottom: 0;
  margin-left: rem(22);
  font-weight: 300;
  font-size: rem(16);
  line-height: calc(18 / 16);
}

.footer__item-last:hover {
  opacity: 0.5;
}

.footer__menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: rem(8);
  @include mq("md") {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: rem(24);
  }
}

// .footer__box-a {
//   order: 1;
// }

// .footer__box-b {
//   order: 3;

//   @include mq("md") {
//     order: 2;
//     padding-left: rem(14);
//   }
// }

// .footer__box-c {
//   order: 2;
//   padding-left: rem(10);
//   @include mq("md") {
//     order: 3;
//     padding-left: rem(10);
//   }
// }

// .footer__box-d {
//   order: 4;
//   padding-left: rem(10);
// }

.footer__box {
  order: 1;
}

.footer__box:nth-child(2) {
  order: 3;
  @include mq("md") {
    order: 2;
    padding-left: rem(14);
  }
}
.footer__box:nth-child(3) {
  order: 2;
  @include mq("md") {
    order: 3;
    padding-left: rem(10);
  }
}
.footer__box:nth-child(4) {
  order: 4;
  @include mq("md") {
    padding-left: rem(10);
  }
}

.footer__copyright {
  text-align: center;
  margin-top: 2rem;
  color: $white;
  font-family: $english-family;
  font-size: 0.75rem;
  font-weight: $normal;
  line-height: 1;
  letter-spacing: 0.05em;
  @include mq("md") {
    font-size: 0.875rem;
    margin-top: 2.5rem;
    letter-spacing: 0.08;
  }
}

.footer__item {
  font-size: rem(16);
}

.footer__copyright {
  text-align: center;
  margin-top: rem(32);
  color: $white;
  font-family: $english-family;
  font-size: rem(12);
  font-weight: $normal;
  line-height: 1;
  letter-spacing: 0.05em;

  @include mq("md") {
    font-size: rem(14);

    margin-top: rem(40);
    letter-spacing: 0.08em;
  }
}
