@use "global" as *;

.footer-navi {
  background-color: #408f95;
  color: #fff;
  margin: auto;
}

.footer-navi__space {
  margin-top: rem(100);
  padding-top: rem(48);
  padding-bottom: rem(56);

  @include mq("md") {
    margin-top: rem(160);
    padding-top: rem(80);
    padding-bottom: rem(80);
  }
}

.footer-navi__inner {
  padding: 0 rem(16);
  @include mq("md") {
    padding: 0 rem(25);
  }
}

.footer-navi__header {
  padding-bottom: rem(40);
  @include mq("md") {
    display: flex;
    padding-bottom: 0;
  }
}

.footer-navi__logo {
  width: rem(120);

  @include mq("md") {
    width: rem(200);
  }
}

.footer-navi-icon {
  display: flex;
  margin-top: rem(16);
  @include mq("md") {
    margin-left: rem(40);
    margin-top: rem(38);
  }
}

.footer-navi-icon__link {
  width: rem(24);
  margin-right: rem(14);
  @include mq("md") {
    margin-right: rem(25);
  }
}

.footer-navi-icon__link:hover {
  opacity: 0.7;
}

.footer-navi__items {
  margin-top: rem(36);
}
.footer-navi__items--no {
  margin-top: 0;
}

.footer-navi__items--right {
  margin-top: rem(16);
}

.footer-navi__item--top {
  position: relative;
  padding-left: 20px;
  font-weight: $bold;
  font-family: $base-font-family;
  letter-spacing: 0.05em;
  line-height: calc(18 / 16);
  margin-bottom: rem(28);
}

.footer-navi__item--top:hover {
  opacity: 0.5;
}

.footer-navi__item--top::before {
  content: "";
  position: absolute;
  top: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: rem(16);
  left: 0px;
  transform: translateY(-50%);
  width: 1em;
  height: 1em;
  background-image: url(../images/common/starfish.png);
}

.footer-navi__item {
  margin-bottom: rem(24);
  margin-left: rem(22);
  font-weight: 300;
  font-size: rem(16);
  line-height: calc(18 / 16);
}

.footer-navi__item:hover {
  opacity: 0.5;
}

.footer-navi__item--last {
  padding-bottom: 0;
  margin-left: rem(22);
  font-weight: 300;
  font-size: rem(16);
  line-height: calc(18 / 16);
}

.footer-navi__item--last:hover {
  opacity: 0.5;
}

.footer-navi__menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: rem(8);
  @include mq("md") {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: rem(24);
  }
}

.footer-navi__box--a {
  order: 1;
}

.footer-navi__box--b {
  order: 3;

  @include mq("md") {
    order: 2;
    padding-left: rem(14);
  }
}

.footer-navi__box--c {
  order: 2;
  padding-left: rem(10);
  @include mq("md") {
    order: 3;
    padding-left: rem(10);
  }
}

.footer-navi__box--d {
  order: 4;
  padding-left: rem(10);
}

.footer-navi__item {
  font-size: rem(16);
}

.footer__copyright {
  text-align: center;
  margin-top: rem(32);
  color: $white;
  font-family: $english-family;
  font-size: rem(12);
  font-weight: $normal;
  line-height: 1;
  letter-spacing: 0.05em;

  @include mq("md") {
    font-size: rem(14);

    margin-top: rem(40);
    letter-spacing: 0.08em;
  }
}
