@use "global" as *;

.price {
  background-color: #ddf0f1;
  padding-top: rem(80);
  padding-bottom: rem(80);
}

.price__wrapper {
  margin-top: rem(24);
  @include mq("md") {
    display: flex;
    flex-direction: row-reverse;
  }
}

.price__img {
  aspect-ratio: 345 / 227;
  overflow: hidden;
  width: 100%;
  @include mq("md") {
    width: 45.682451%;
    margin-left: rem(94);
  }
}

.price__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.price-menu {
  @include mq("md") {
    width: 45.682451%;
  }
}

.price-menu__wrapper {
  margin-top: rem(40);
}

.price-menu__wrapper + .price-menu__wrapper {
  margin-top: rem(40);
}

.price-menu__title {
  font-size: rem(16);
  font-weight: $bold;
  line-height: calc(24 / 16);
  padding-bottom: rem(4);
  border-bottom: 1px solid $blue;
  color: $black;
}

.price-menu__flex {
  display: flex;
  justify-content: space-between;
}

.price-menu__content {
  font-size: rem(14);
  line-height: calc(24 / 14);
  margin-top: rem(8);
  color: $black;
}

.price-menu__price {
  font-size: rem(14);
  line-height: calc(24 / 14);
  margin-top: rem(8);
  color: $black;
}

.price__button {
  text-align: center;
  margin-top: rem(56);
}
