@use "global" as *;

.price {
  background-color: #ddf0f1;
  padding-top: rem(80);
  padding-bottom: rem(80);
}

.price__inner {
  @include mq("md") {
    position: relative;
  }
}

.price__inner::after {
  @include mq("md") {
    background: url(/assets/images/common/price-back.png) no-repeat top /
      contain;
    bottom: -5.5625rem;
    content: "";
    display: block;
    height: 11.3125rem;
    position: absolute;
    left: calc(50% - min(48.4vw, 39.625rem));
    width: 12.125rem;
    z-index: 4;
  }
}

.price__wrapper {
  margin-top: rem(24);
  @include mq("md") {
    display: flex;
    flex-direction: row-reverse;
  }
}

.price__img {
  aspect-ratio: 345 / 227;
  overflow: hidden;
  width: 100%;
  @include mq("md") {
    width: 45.682451%;
    margin-left: rem(94);
    aspect-ratio: 492 /746;
  }
}

.price__img--sp {
  display: block;
  @include mq("md") {
    display: none;
  }
}

.price__img--pc {
  display: none;
  @include mq("md") {
    display: block;
  }
}

.price__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.price-menu {
  @include mq("md") {
    width: 45.682451%;
  }
}

.price-menu__wrapper {
  margin-top: rem(40);
}

.price-menu__wrapper:first-child {
  margin-top: 0;
}

.price-menu__wrapper + .price-menu__wrapper {
  margin-top: rem(40);
}

.price-menu__title {
  font-size: rem(16);
  font-weight: $bold;
  line-height: calc(24 / 16);
  padding-bottom: rem(4);
  border-bottom: 1px solid $blue;
  color: $black;
}

.price-menu__flex {
  display: flex;
  justify-content: space-between;
}

.price-menu__content {
  font-size: rem(14);
  line-height: calc(24 / 14);
  margin-top: rem(8);
  color: $black;
}

.price-menu__price {
  font-size: rem(14);
  line-height: calc(24 / 14);
  margin-top: rem(8);
  color: $black;
}

.price__button {
  text-align: center;
  margin-top: rem(56);
}
