@use "global" as *;

.swiper-slide--campain {
  width: 100%;
  max-width: rem(280);
  height: auto;
  @include mq("md") {
    max-width: rem(333);
  }
}

.swiper-container {
  margin-right: calc(50% - 50vw);
  overflow: hidden;
}

/* 前への矢印カスタマイズ */

.swiper-button {
  @include mq("md") {
    position: absolute;
    top: -1rem;
    right: rem(18);
    z-index: 5;
    width: rem(260);
    height: rem(80);
  }
}

.swiper-button-prev,
.swiper-button-next {
  @include mq("md") {
    width: rem(80);
    height: rem(80);
    padding-top: 0;
  }
}

.swiper-button-prev::after {
  display: none;
  @include mq("md") {
    display: block;
    content: "";
    background-image: url(../images/common/swiper-button-prev.png);
    background-size: cover;
    width: rem(80);
    height: rem(80);
    z-index: 5;
    object-fit: cover;
  }
}

.swiper-button-next::after {
  display: none;
  @include mq("md") {
    display: block;
    content: "";
    background-image: url(../images/common/swiper-button-next.png);
    background-size: cover;
    width: rem(80);
    height: rem(80);
    z-index: 5;
  }
}

.swiper-slide--mv {
  height: 100vh;
  width: 100%;
  aspect-ratio: 375 / 667;
  overflow: hidden;
  @include mq("md") {
    aspect-ratio: 1440 / 768;
  }
}

.swiper-slide--mv img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
