@use "global" as *;

.swiper-button {
  @include mq("md") {
    position: absolute;
    top: 0;
    right: rem(18);
    z-index: 5;
    height: rem(80);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
  }
}

.swiper-button__prev,
.swiper-button__next {
  @include mq("md") {
    width: rem(80);
    height: rem(80);
    margin: 0;
    padding: 0;
    position: unset;
  }
}

.swiper-button__prev::after,
.swiper-button__next::after {
  display: none;
  @include mq("md") {
    display: block;
    content: "";
    background-size: cover;
    width: rem(80);
    height: rem(80);
    z-index: 5;
    object-fit: cover;
  }
}

.swiper-button__prev::after {
  background-image: url(../images/common/swiper-button-prev.png);
}

.swiper-button__next::after {
  background-image: url(../images/common/swiper-button-next.png);
}
