@use "global" as *;

.voice__space {
  margin-top: rem(82);
  @include mq("md") {
    margin-top: rem(140);
  }
}

.voice__inner {
  position: relative;
}

.voice__inner::before {
  @include mq("md") {
    background: url(../images/common/voice_fish.png) no-repeat top / contain;
    content: "";
    display: block;
    top: -7rem;
    height: 13.3125rem;
    position: absolute;
    left: calc(50% - min(48.4vw, 38.625rem));
    width: 19.125rem;
    z-index: 4;
  }
}

.voice__inner::after {
  @include mq("md") {
    background: url(../images/common/voice_tatu.png) no-repeat top / contain;
    content: "";
    display: block;
    bottom: -4.5625rem;
    height: 10.3125rem;
    position: absolute;
    right: calc(50% - min(48.4vw, 41.625rem));
    width: 19.125rem;
    z-index: 4;
  }
}

.voice__items {
  margin-top: rem(40);
}

.voice__button {
  text-align: center;
  margin-top: rem(40);
  @include mq("md") {
    margin-top: rem(80);
  }
}
