@use "global" as *;

.voice {
  padding-top: rem(82);
  @include mq("md") {
    padding-top: rem(140);
    padding-bottom: rem(145);
  }
}

.voice__inner {
  position: relative;
}

.voice__inner::before {
  @include mq("md") {
    background: url(../images/common/voice_fish.png) no-repeat top / contain;
    content: "";
    display: block;
    top: -7rem;
    height: 13.3125rem;
    position: absolute;
    left: calc(50% - min(48.4vw, 38.625rem));
    width: 19.125rem;
    z-index: 4;
  }
}

.voice__inner::after {
  @include mq("md") {
    background: url(../images/common/voice_tatu.png) no-repeat top / contain;

    content: "";
    display: block;
    bottom: -4.5625rem;
    height: 10.3125rem;
    position: absolute;
    right: calc(50% - min(48.4vw, 41.625rem));
    width: 19.125rem;
    z-index: 4;
  }
}

.voice__items {
  margin-top: rem(40);
  @include mq("md") {
    display: flex;
    justify-content: space-between;
  }
}

.voice-card {
  box-shadow: 4px 4px 4px gray;
  @include mq("md") {
    gap: 40px;
  }
}

.voice-card:last-child {
  margin-top: rem(35);
  @include mq("md") {
    margin-top: 0;
    margin-left: rem(30);
  }
}

.voice-card__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.voice-card__info {
  width: 47%;
  @include mq("md") {
    width: 64.637%;
    margin-top: rem(10);
  }
}

.voice-card__header--left {
  @include mq("md") {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.voice-card__img {
  position: relative;
  width: 50%;
  max-width: rem(151);
  margin-top: rem(8);
  align-items: flex-end;
  @include mq("md") {
    max-width: rem(180);
    width: 39%;
    margin-left: rem(15);
  }
}

.voice-card__img::before {
  content: "";
  display: block;
  padding-top: 77.4834437%;
}

.voice-card__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.voice-card__body {
  padding: rem(16) rem(16) rem(24);

  @include mq("md") {
    padding: rem(16) rem(24);
    max-width: rem(520);
  }
}

.voice-card__age {
  font-size: rem(12);
  letter-spacing: 0.05em;
  line-height: calc(18 / 12);
}

.voice-card__category {
  display: inline-block;
  line-height: calc(22 / 12);
  font-size: rem(12);
  color: $blue;
  border: 1px solid $blue;
  padding: rem(4) rem(12);
  @include mq("md") {
    padding: rem(4) rem(12);
    margin-right: rem(15);
    margin-top: rem(2);
  }
}

.voice-card__title {
  font-size: rem(16);
  font-weight: $bold;
  line-height: calc(24 / 16);
  margin-top: rem(4);
  padding-bottom: rem(2);
  border-bottom: 1px solid $blue;
  color: $black;
  @include mq("md") {
    font-size: rem(24);
  }
}

.voice-card__footer {
  margin-top: rem(16);
  @include mq("md") {
    margin-top: rem(40);
  }
}

.voice-card__text {
  font-size: rem(16);
  line-height: calc(24 / 16);
  color: $black;
}

.voice__button {
  text-align: center;
  margin-top: rem(40);
  @include mq("md") {
    margin-top: rem(80);
  }
}
