@use "global" as *;

.carditem__img {
  aspect-ratio: 345 / 227;
  overflow: hidden;
}

.carditem__img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.carditem__title {
  font-size: rem(20);
  font-weight: $bold;
  line-height: calc(24 / 20);
  letter-spacing: 0.01em;
  padding-bottom: rem(2);
  border-bottom: 1px solid $blue;
  color: $black;
  @include mq("md") {
    font-size: rem(24);
    line-height: 1;
    padding-bottom: rem(8);
  }
}

.carditem__text {
  font-size: rem(16);
  line-height: calc(24 / 16);
  color: $black;
  letter-spacing: 0.01em;
  margin-top: rem(8);
  font-weight: 400;
  @include mq("md") {
    letter-spacing: 0.005em;
  }
}

.carditem__button {
  text-align: center;
  margin-top: rem(40);
}
