@use "global" as *;

$drawer-width: 32px; //ドロワーの幅
$drawer-height: 1px; //ドロワー線の高さ
$drawer-color: #fff; //ドロワー線の色

.hamburger {
  z-index: 9999;
  @include mq("md") {
    display: none;
  }
}

.hamburger span {
  position: relative;
  display: block;
  height: $drawer-height;
  width: $drawer-width;
  background: $drawer-color;
  transition: ease 0.3s;
}

.hamburger span:nth-child(1) {
  top: 0;
}

.hamburger span:nth-child(2) {
  margin: 12px 0;
}

.hamburger span:nth-child(3) {
  top: 0;
}
/*is-OPEN時の動き*/
.hamburger.is-open span:nth-child(1) {
  top: 5px;
  transform: translateY(8px) rotate(45deg);
}

.hamburger.is-open span:nth-child(2) {
  transform: translateY(-50%);
  opacity: 0;
}

.hamburger.is-open span:nth-child(3) {
  top: -5px;
  transform: translateY(-8px) rotate(-45deg);
}
