@use "global" as *;

.to-top {
  position: fixed;
  right: rem(30);
  bottom: rem(20);
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid $blue;
  z-index: 10;
}
.to-top a {
  display: block;
  width: rem(50);
  height: rem(50);
  background-color: #fff;
}

.to-top a img {
  display: block;
  margin: auto;
  padding-right: rem(3);
  padding-top: rem(10);
  width: rem(10);
  height: rem(40);
}
